.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);

  display: flex;
  width: 90%;
  max-width: 800px;
  color: #fff;
  position: relative;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    border: none;

    &:hover {
      opacity: 0.6;
    }
  }

  img {
    width: 300px;
    display: block;
  }

  .modal-details {
    padding: 30px;

    h2 {
      margin-top: 0;
      font-size: 2.5rem;
    }

    .overview {
      font-size: 1rem;
      line-height: 1.5;
    }

    .info {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
      color: #aaa;
    }
  }
}
