.favorite-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.empty-favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  color: #aaa;
  text-align: center;

  h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 3rem;
  color: white;

  .spinner-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 1.5rem;
  color: #ff6b6b;

  svg {
    font-size: 3rem;
    margin-bottom: 10px;
  }
}
