@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes revealText {
  from {
    width: 0;
    opacity: 0;
    margin-left: 0;
  }
  to {
    width: 450px;
    opacity: 1;
    margin-left: 15px;
  }
}

.empty-favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  color: #aaa;
  text-align: center;
  min-height: 60vh;

  h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
  }
}

.welcome-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.welcome-icon {
  font-size: 5rem;
  color: #61dafb;
  animation: spin 5s linear infinite;
}

.welcome-text {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  width: 0;
  opacity: 0;

  animation: revealText 2s forwards;
  animation-delay: 0.5s;
}
